<header>
  <div id="logo" class="logo">
    <img src="logo-2.png" alt="Logo">
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <button>
        Logout
      </button>
    </ul>
  </nav>
</header>

<main>
  <div id="dashboard">
    <div class="dashboard-item">
      <article>
        <header>
          <i-lucide name="server" size="18" color="var(--main)"></i-lucide>
        </header>
      </article>
    </div>
  </div>
</main>