<header class="nav-header">
  <div id="logo" class="logo-wrapper">
    <div class="logo-img">
      <img src="logo-2.png" alt="Logo">
    </div>
    <span class="logo-text">Lögsaga</span>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a class="nav-link" href="/">Home</a>
      </li>
      <li>
        <a class="nav-link" href="/">Management</a>
      </li>
      <button class="btn logout-btn">
        Logout
      </button>
    </ul>
  </nav>
</header>

<main class="main-container">
  <div id="dashboard" class="dashboard">
    <div class="dashboard-item">
      <article>
        <header class="server-status-header">
          <i-lucide 
            class="icon"
            name="server" 
            size="18" 
            color="var(--main)">
          </i-lucide>
          <h2 class="title">Server Status</h2>  
        </header>
        <div>
          @if (currentStatus === 'online') {
            <p>Servers are online</p>
            <p>All systems are operational</p>
          } @else if (currentStatus === 'offline') {
          <p>Servers are offline</p>
          <p>System is currently down.</p>
          } @else {
          <p>Servers status unknown</p>
          <p>Fetching server status failed.</p>
          }
        </div>
      </article>
    </div>
    
    <div class="dashboard-item">
      <article>
        <header class="server-status-header">
          <i-lucide 
            class="icon"
            name="globe" 
            size="18" 
            color="var(--main)">
          </i-lucide>
          <h2 class="title">Traffic</h2>  
        </header>
        <div id="traffic" class="traffic">
          <p>Last 7 days</p>
          <div id="chart" class="chart">
            @for (dataPoint of dummyTrafficData; track dataPoint.id) {
              <div 
                [style.height]="(dataPoint.id)"></div>
            }
          </div>
        </div>
      </article>
    </div>
  </div>
</main>